# Server
PORT=8080

# Logging
LOG_LEVEL=info  # debug | info | warn | error (optional, default info)

# Home Assistant
HA_BASE_URL=https://homeassistant.oleksandrp.com
HA_TOKEN=
HA_ENTITY=binary_sensor.inverter_grid

# DTEK
DTEK_BASE_URL=https://dtek.oleksandrp.com
DTEK_REGION=oem
DTEK_CITY=
DTEK_STREET=
DTEK_BUILDING=
DTEK_POLL_INTERVAL=60s

# Telegram
TG_BOT_TOKEN=
TG_CHAT_ID=
